body {
  background-image: linear-gradient(to right, rgb(87, 233, 233), rgb(123, 8, 231), rgb(243, 115, 243));
  padding-left: 50px;
  padding-right: 50px;
}

.timer {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}

.field {
  width: 300px;
  border: 3px solid rgb(124, 133, 252);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.349);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  text-align: center;
  color: rgb(149, 204, 226);
  font-size: 5vh;
  text-shadow: -1px -1px #000, 0 1px 0 #444;
}

.label {
  text-align: center;
  color: rgb(149, 204, 226);
  text-shadow: -1px -1px #000, 0 1px 0 #444;
}

span {
  font-size: 4vh;
}

@media screen and (max-width: 768px) {
  .timer {
    flex-direction: column;
    margin-top: 40px;
  }

  .field:not(:last-child) {
    margin-right: 0;
  }
}
